# we only support one cluster for starters...
clusters:
[
    {
      ipmi_server: "du17-ipmi.eng.qumulo.com"
      port:8000
      nodes: [ "du17-10g.eng.qumulo.com" ]
    }
]

# Specify IP address of SNMP trap receiver
snmp_trap_receiver: '10.20.217.205'

# If your cluster has IPMI enabled and you have
# ipmicmd installed on the box running this agent,
# set this flag to true
ipmi_support: True
